* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
}
body, html{
    margin: 0;
    padding: 0;
    height: 1000px;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
}
h1, h2, a{
    color: #333;
    text-align: left;
    z-index: 1;
}
h1{
    font-size: 60px;
}
a{
    color: #333;
    text-decoration: none;
    font-size: 40px;
}
.contactdiv{
    position: relative;
    top: 270px;
    left: 65px;
    color: #333;
    text-align: left;
    z-index: 1;
}
.personimage{
    position: relative;
    top: 0px;
    left: 1300px;
    width: 300px;
    height: 290px;
    z-index: 1;
}
.maila{
    position: relative;
    top: 0px;
    left: 1200px;
    color: #333;
    font-size: 40px;
    text-align: left;
    z-index: 1;
}