/* Genel ayarlar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    overflow-x: hidden;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
}

h1, h2 {
    color: #333;
    text-align: left;
    z-index: 1;
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 60px;
}

.projectsdiv {
    position: relative;
    top: 20px;
    left: 65px;
    color: #333;
    text-align: left;
    z-index: 1;
}

.project1, .project2, .project3, .project4, .veteriner {
    position: relative;
    width: 550px;
    height: 700px;
    margin: 30px;
    padding: 45px;
    border-radius: 50px;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    border-left: 12px solid #1d1d1d;
    border-bottom: 12px solid #1d1d1d;
    background-color: #333;
    color: white;
    font-size: 40px;
    text-align: left;
    z-index: 1;
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.project1 {
    top: 10px;
    left: 40px;
}

.project2 {
    top: -720px;
    left: 640px;
    transform: translateY(20px);
    transition-delay: 0.5s;
}

.project3 {
    top: -1450px;
    left: 1240px;
    transition-delay: 1s;
}

.project4 {
    top: -1450px;
    left: 40px;
}

.veteriner {
    top: -2170px;
    left: 640px;
    transition-delay: 0.5s;
}

a {
    text-transform: none;
    color: white;
    transition: color 0.3s;
    text-decoration: none;
}

a:hover {
    color: #933c3c;
}

/* Gizli öğeler */
.hidden {
    opacity: 0;
    transform: translateY(20px);
}

.fade-in {
    opacity: 1;
    transform: translateY(0);
}

/* Animasyon */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
